<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <div class="alert <%= name == 'notice' ? 'alert-success' : 'alert-danger' %> alert-dismissible fade show" 
         data-controller="flash">
      <%= msg %>
      <button type="button" 
              class="btn-close" 
              aria-label="Close">
      </button>
    </div>
  <% end %>
<% end %>